<% layout('./layouts/boilerplate') %>

    <div class="card mt-5">
        <div class="card-header">
            Company Name: <%= application.companyName %>  
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Position: <%= application.jobTitle %> </li>
            <li class="list-group-item"> Location: <%= application.jobLocation %> </li>
            <li class="list-group-item"> Date Applied: <%= application.dateApplied %> </li>
            <li class="list-group-item"> Application Status: <%= application.status %> </li>
            <% if (application.notes != 0) { %> 
            <li class="list-group-item"> Notes: <%= application.notes %> </li>
            <% } %>
        </ul>  

        <div class="card-body">
            <a href="/applications/<%= application._id %>/edit" class="btn btn-info my-1"> Edit Application</a>

            <form action="/applications/<%= application._id %>?_method=DELETE" method="POST"> 
                <button class="btn btn-danger mb-2" >Delete Application</button> 
            </form> 
            <a href="/applications"> Return to all applications</a>
        </div>
    
    </div>