<% layout('./layouts/boilerplate') %>
    <div class="card mt-5 shadow">
        <div class="card-header">
            Company Name: <%= application.companyName %>  
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Position: <%= application.jobTitle %> </li>
            <li class="list-group-item"> Location: <%= application.jobLocation %> </li>
            <li class="list-group-item"> Date Applied: <%= application.dateApplied %> </li>
            <li class="list-group-item"> Application Status: <%= application.status %> </li>
            <% if (application.notes != 0) { %> 
            <li class="list-group-item"> Notes: <%= application.notes %> </li>
            <% } %>
        </ul>  

        <div class="card-body">
                <div class="d-grid col-2">
                    <a href="/applications/<%= application._id %>/edit" class="btn btn-info mb-1 btn-size zoom"> Edit Application</a>
                    <form action="/applications/<%= application._id %>?_method=DELETE" method="POST"> 
                        <button class="btn btn-danger btn-size mb-2 zoom" >Delete Application</button> 
                    </form> 
                </div>
            <a href="/applications"> Return to all applications</a>
        </div>
    </div>
