<% layout('./layouts/boilerplate') %> 
    <h1> Application Details </h1>
    <h2> Company Name: <%= application.companyName %> </h2>
    <h2> Job Title: <%= application.jobTitle %> </h2>
    <h2> Job Location: <%= application.jobLocation %> </h2>
    <h2> Application Date: <%= application.dateApplied %> </h2>
    <h2> Application Status: <%= application.status %> </h2>

    <h3><a href="/applications/<%= application._id %>/edit"> Edit Application</a></h3>

    <form action="/applications/<%= application._id %>?_method=DELETE" method="POST"> 
        <button>Delete Application</button> 
    </form>
    
    <h3><a href="/applications"> Return to all applications</a></h3>
