<% layout('./layouts/boilerplate') %> 
    <form action="/applications/<%= application._id %>?_method=PUT" method="POST">
        <div>
            <label for="">Company Name</label>
            <input type="text" id="companyName" name="application[companyName]" value="<%= application.companyName %> ">
        </div>
        <div>
            <label for="">Job Title</label>
            <input type="text" id="jobTitle" name="application[jobTitle]" value="<%= application.jobTitle %> ">
        </div>
        <div>
            <label for="">Job Location</label>
            <input type="text" id="jobLocation" name="application[jobLocation]" value="<%= application.jobLocation %> ">
        </div>
        <div>
            <label for="">Application Date</label>
            <input type="date" id="dateApplied" name="application[dateApplied]" value="<%= application.dateApplied %> ">
        </div>
        <div>
            <label for="">Application Status</label>
            <select id="status" name="application[status]">
                <option value="Active">Active</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Rejected">Rejected</option>
                <option value="Accepeted">Accepted</option>
            </select>        
        </div>
        <button> Edit Application</button>
    </form>
    <a href="/applications/<%= application._id %> "> Back to Application </a>