<% layout('./layouts/boilerplate') %>
<div class="container mt-3">
    <div class="row">
        <div class="col-auto me-auto">
            <h1> All Applications </h1>
        </div>
        <div class="col-auto">
            <div class="dropdown my-3">
                <button class="btn legend-color btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Legend
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item list-group-item-light">Active</li>
                <li class="dropdown-item list-group-item-info">Interviewing</li>
                <li class="dropdown-item list-group-item-danger">Rejected</li>
                <li class="dropdown-item list-group-item-success">Accepted</li>
                </ul>
            </div>
        </div> 
    </div>
    <h5 class="mb-5">
        <a href="/applications/new">Add New Application</a>
    </h5>
    <h5>Your applications at a glance</h5>
    <h6>You have <%= applications.length %> applications open. </h6>

    <% for (let application of applications) {%>
    <div class="card my-2 zoom shadow-sm">
            <% if(application.status === 'Rejected') {%> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-danger">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>    
            <% } else if(application.status === 'Interviewing') { %> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-info">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>           
            <% } else if(application.status === 'Accepted'){ %> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>            
            <% } else { %> 
                <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> <%= application.companyName %> </h5>
                    </div>
                    <p class="mb-1"> <%= application.jobTitle %> </p>
                </a>
                <% }  %> 

    </div> 
    <% } %> 
</div> 
<script src="/javascripts/addClass.js"></script>