<% layout('./layouts/boilerplate') %> 

    <h1> All Applications </h1>
    <h5 class="mb-5">
        <a href="/applications/new">Add New Application</a>
    </h5>
    <h5>Your applications at a glance</h5>

    <div class="list-group mb-5">
        <% for (let application of applications) {%>
            <% if(application.status === 'Rejected') {%> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-danger">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>    
            <% } else if(application.status === 'Interviewing') { %> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-info">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>           
            <% } else if(application.status === 'Accepted'){ %> 
            <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= application.companyName %> </h5>
                </div>
                <p class="mb-1"> <%= application.jobTitle %> </p>
            </a>            
            <% } else { %> 
                <a href="/applications/<%= application._id %> " class="list-group-item list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> <%= application.companyName %> </h5>
                    </div>
                    <p class="mb-1"> <%= application.jobTitle %> </p>
                </a>
                <% }  %> 
        <% } %> 
    </div>
